.login-title {
    color: #5c69b7;
}
.btn-submit {
    background-color: #5c69b7;
    color: #FFFFFF;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}
.btn-submit:hover {
    background-color: #495abb;
}

.btn-submit:disabled {
    background-color: rgb(92, 105, 183, 0.6);
}

@media screen and (min-width: 992px) {
    .form-container {
        width: 50% !important;
    }
}