.brand {
    color: #5c69b7;
}
.links {
    text-decoration: none;
    color: black;
    padding:  0.5rem;
    font-weight: 600;
}
.active {
    border: 1px solid #5c69b7;
    border-radius: 8px;
    /* text-decoration-line: underline;
    text-decoration-color: #5c69b7;
    text-decoration-style: solid;
    text-decoration-thickness: 5px; */
}
.image-container {
    cursor: pointer;
}
.toggle-container {
    cursor: pointer;
}
.toggle {
    font-size: 26px;
}