.about-title {
    color: #5c69b7;
}
.about-details {
    border: 2px solid #5c69b7;
    font-size: 17px;
    padding: 20px;
    border-radius: 8px;
}

/* For Desktop devices */
@media screen and (min-width: 992px) {
    .about-details {
        width: 60%;
    }
}