.btn-details {
    background-color: #5c69b7;
    color: #FFFFFF;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}
.btn-details:hover {
    background-color: #495abb;
}